<div class="card border-0 shadow">
    <div class="card-body p-4">
        <div class="search-box">
            <p class="text-muted">Search</p>
            <div class="input-group input-group-sm d-flex">
                <button class="btn border-0 anm-riple bg-primary" type="button" id="search"><i
                        class="fas fa-search text-light font-xs"></i></button>
                <input type="text" class="form-control bg-light border-0" placeholder="Search.."
                    aria-label="Example text with button addon" aria-describedby="search">
            </div>
        </div>

        <hr class="my-4">

        <div>
            <p class="text-muted">Categories</p>

            <ul class="list-unstyled fw-medium">
                <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i
                            class="fas fa-chevron-right font-xs me-1"></i> Design</a></li>
                <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i
                            class="fas fa-chevron-right font-xs me-1"></i> Development <span
                            class="badge bg-success bg-opacity-75 float-end ms-1 font-xs">04</span></a></li>
                <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i
                            class="fas fa-chevron-right font-xs me-1"></i> Business</a></li>
                <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i
                            class="fas fa-chevron-right font-xs me-1"></i> Project</a></li>
                <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i
                            class="fas fa-chevron-right font-xs me-1"></i> Travel<span
                            class="badge bg-success bg-opacity-75 ms-1 float-end font-xs">12</span></a></li>
            </ul>
        </div>

        <hr class="my-4">

        <div>
            <p class="text-muted">Archive</p>
            <ul class="list-unstyled fw-medium">
                <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i
                            class="fas fa-chevron-right font-xs me-1"></i> 2020 <span
                            class="badge bg-success bg-opacity-75 float-end ms-1 font-xs">03</span></a></li>
                <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i
                            class="fas fa-chevron-right font-xs me-1"></i> 2019 <span
                            class="badge bg-success bg-opacity-75 float-end ms-1 font-xs">06</span></a></li>
                <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i
                            class="fas fa-chevron-right font-xs me-1"></i> 2018 <span
                            class="badge bg-success bg-opacity-75 float-end ms-1 font-xs">05</span></a></li>
            </ul>
        </div>

        <hr class="my-4">

        <div>
            <p class="text-muted mb-2">Popular Posts</p>

            <div class="list-group list-group-flush">

                <a href="javascript: void(0);" class="list-group-item text-muted py-3 px-2">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-3">
                            <img src="https://picsum.photos/300/200" alt="img" class="avatar-md h-auto d-block rounded">
                        </div>
                        <div class="flex-grow-1 overflow-hidden">
                            <h6 class="mb-0 text-truncate">Beautiful Day with Friends</h6>
                            <p class="mb-0 text-truncate">10 Apr, 2020</p>
                        </div>
                    </div>
                </a>

                <a href="javascript: void(0);" class="list-group-item text-muted py-3 px-2">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-3">
                            <img src="https://picsum.photos/300/201" alt="img" class="avatar-md h-auto d-block rounded">
                        </div>
                        <div class="flex-grow-1 overflow-hidden">
                            <h6 class="mb-0 text-truncate">Drawing a sketch</h6>
                            <p class="mb-0 text-truncate">24 Mar, 2020</p>
                        </div>
                    </div>
                </a>

                <a href="javascript: void(0);" class="list-group-item text-muted py-3 px-2">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-3">
                            <img src="https://picsum.photos/300/202" alt="img" class="avatar-md h-auto d-block rounded">
                        </div>
                        <div class="flex-grow-1 overflow-hidden">
                            <h6 class="mb-0 text-truncate">Project discussion with team</h6>
                            <p class="mb-0 text-truncate">11 Mar, 2020</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <hr class="my-3">

        <div>
            <p class="text-muted">Tags</p>

            <div class="d-flex flex-wrap gap-2 widget-tag">
                <div><a href="javascript: void(0);" class="badge bg-light text-dark">Design</a></div>
                <div><a href="javascript: void(0);" class="badge bg-light text-dark">Development</a></div>
                <div><a href="javascript: void(0);" class="badge bg-light text-dark">Business</a></div>
                <div><a href="javascript: void(0);" class="badge bg-light text-dark">Project</a></div>
                <div><a href="javascript: void(0);" class="badge bg-light text-dark">Travel</a></div>
                <div><a href="javascript: void(0);" class="badge bg-light text-dark">Lifestyle</a></div>
                <div><a href="javascript: void(0);" class="badge bg-light text-dark">Photography</a></div>
            </div>
        </div>
    </div>
</div>