<ul class="list-group  list-group-flush comments-ex">
    <li class="list-group-item border-light py-3">
        <div class="d-flex">
            <div class="flex-shrink-0 me-3">
                <div class="avatar-sm">
                    <img src="https://source.unsplash.com/250x250?man" class="rounded-circle img-fluid d-block"
                        alt="img unsplash">
                </div>
            </div>
            <div class="flex-grow-1">
                <h6 class="font-md mb-1">Ali Ahmed <small class="text-black-50 font-sm float-end font-xs">1hr
                        Ago</small></h6>
                <p class="text-muted font-md">
                    If several languages coalesce, the grammar of the resulting of the individual
                </p>
                <a href="javascript: void(0);" class="text-success font-sm"><i class="fas fa-reply me-1"></i>
                    Reply</a>
            </div>
        </div>
    </li>
    <li class="list-group-item border-light py-3">
        <div class="d-flex">
            <div class="flex-shrink-0 me-3">
                <div class="avatar-sm">
                    <img src="https://source.unsplash.com/250x250?animation" class="rounded-circle img-fluid d-block"
                        alt="img unsplash">
                </div>
            </div>
            <div class="flex-grow-1">
                <h6 class="font-md mb-1">Amr Mohamed<small class="text-black-50 font-sm float-end font-xs">2hr
                        Ago</small>
                </h6>
                <p class="text-muted font-md">
                    If several languages coalesce
                </p>
                <a href="javascript: void(0);" class="text-success font-sm"><i class="fas fa-reply me-1"></i>
                    Reply</a>
                <!-- Reply on comment -->
                <div class="d-flex pt-3">
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar-sm">
                            <img src="https://source.unsplash.com/250x250?man" class="rounded-circle img-fluid d-block"
                                alt="img unsplash">
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="font-md mb-1">Ali Ahmed <small class="text-black-50 font-sm float-end font-xs">1hr
                                Ago</small></h6>
                        <p class="text-muted font-md">
                            If several languages coalesce, the grammar of the resulting of the
                            individual
                        </p>
                        <a href="javascript: void(0);" class="text-success font-sm"><i class="fas fa-reply me-1"></i>
                            Reply</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>