<div class="card rounded shadow border-0 inboxe-leftside">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger anm-riple" data-bs-toggle="modal" data-bs-target="#composeemail">
        Compose
    </button>

    <!-- List -->
    <div class="mail-list list-group mt-4">
        <a href="javascript: void(0);" class="list-group-item active"><i class="far fa-envelope me-2 font-sm"></i>
            Inbox <span class="ms-1 float-end">(18)</span></a>
        <a href="javascript: void(0);" class="list-group-item"><i class="far fa-star me-2"></i>Starred</a>
        <a href="javascript: void(0);" class="list-group-item"><i class="far fa-gem me-2"></i>Important</a>
        <a href="javascript: void(0);" class="list-group-item"> <i class="far fa-file-alt me-2"></i>
            Draft</a>
        <a href="javascript: void(0);" class="list-group-item"><i class="fas fa-inbox me-2"></i>Sent
            Mail</a>
        <a href="javascript: void(0);" class="list-group-item"><i class="fas fa-trash-alt me-2"></i>Trash</a>
    </div>

    <h6 class="mt-3">Labels</h6>

    <!-- List -->
    <div class="mail-list list-group overflow-hidden mt-2">
        <a href="javascript: void(0);" class="list-group-item text-truncate"><span style="margin-top: 9px;"
                class="fas fa-chevron-circle-right font-xs text-info float-end"></span>Theme
            Support</a>
        <a href="javascript: void(0);" class="list-group-item text-truncate"><span style="margin-top: 9px;"
                class="fas fa-chevron-circle-right font-xs text-warning float-end"></span>Freelance</a>
        <a href="javascript: void(0);" class="list-group-item text-truncate"><span style="margin-top: 9px;"
                class="fas fa-chevron-circle-right font-xs text-primary float-end"></span>Social</a>
        <a href="javascript: void(0);" class="list-group-item text-truncate"><span style="margin-top: 9px;"
                class="fas fa-chevron-circle-right font-xs text-danger float-end"></span>Friends</a>
        <a href="javascript: void(0);" class="list-group-item text-truncate"><span style="margin-top: 9px;"
                class="fas fa-chevron-circle-right font-xs text-success float-end"></span>Family</a>
    </div>

    <h6 class="mt-3">Chat</h6>

    <div class="mt-2">
        <a href="javascript: void(0);" class="d-flex mb-1">
            <div class="flex-shrink-0 me-3">
                <img class="rounded-circle"
                    src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-2.jpg"
                    alt="Generic placeholder image" height="36">
            </div>
            <div class="flex-grow-1 align-self-start overflow-hidden">
                <p class="font-sm m-0 text-truncate">Amr Mohamed</p>
                <p class="font-xs text-truncate text-muted">Hello</p>
            </div>
        </a>

        <a href="javascript: void(0);" class="d-flex mb-1">
            <div class="flex-shrink-0 me-3">
                <img class="rounded-circle"
                    src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-3.jpg"
                    alt="Generic placeholder image" height="36">
            </div>
            <div class="flex-grow-1 align-self-start overflow-hidden">
                <p class="font-sm m-0 text-truncate">Ahmed Tarek</p>
                <p class="font-xs text-truncate text-muted">What about our next..</p>
            </div>
        </a>

        <a href="javascript: void(0);" class="d-flex mb-1">
            <div class="flex-shrink-0 me-3">
                <img class="rounded-circle"
                    src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-4.jpg"
                    alt="Generic placeholder image" height="36">
            </div>
            <div class="flex-grow-1 align-self-start overflow-hidden">
                <p class="font-sm m-0 text-truncate">Eman Tarek</p>
                <p class="font-xs text-truncate text-muted">Yeah everything is fine</p>
            </div>
        </a>

        <a href="javascript: void(0);" class="d-flex">
            <div class="flex-shrink-0 me-3">
                <img class="rounded-circle"
                    src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-5.jpg"
                    alt="Generic placeholder image" height="36">
            </div>
            <div class="flex-grow-1 align-self-start overflow-hidden">
                <p class="font-sm m-0 text-truncate">Esraa Devaid</p>
                <p class="font-xs text-truncate text-muted">Wow that's great</p>
            </div>
        </a>

    </div>
</div>