<div class="row">
    <div class="col-12">
        <div class="text-center mt-3 mb-2">
            <a href="javascript:void(0);" class="btn  anm-riple text-primary"><i
                    class="fas fa-spin fa-spinner font-sm align-middle me-2"></i>
                Load more </a>
        </div>
    </div> <!-- end col-->
</div>