<div class="modal fade" id="composeemail" tabindex="-1" aria-labelledby="composeemailLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="composeemailLabel">New Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="To">
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>
                    <div>
                        <textarea name="messagebody" class="form-control" rows="10"
                            placeholder="Your Message Here"></textarea>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger anm-riple">Send <i
                        class="fas fa-paper-plane font-sm"></i></button>
                <button type="button" class="btn btn-secondary anm-riple" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>