<header id="top-navbar">
    <nav class="d-flex d-print-none wrap-nav">
        <!-- Left Section -->
        <div class="d-flex">
            <div class="logo">
                <a href="/" class="lg-link">
                    <img src="/assets/img/logo.png" width="22px" class="me-1" alt="logo"> <span
                        class="align-middle">AD</span>
                </a>
            </div>
            <button type="button" class="btn toggle-sidebar toggle-sidebar-btn mx-1"><i
                    class="fas fa-bars text-black-50"></i></button>
            <div class="input-group input-group-md w-50 d-none d-md-flex">
                <button class="btn border-0 anm-riple bg-dark font-sm" type="button" id="search"><i
                        class="fas fa-search text-light"></i></button>
                <input type="text" class="form-control bg-light border-0" placeholder="Search.."
                    aria-label="Example text with button addon" aria-describedby="search">

            </div>
            <div class="dropdown map-h-site">
                <button class="btn dropdown-toggle ms-1 anm-riple dark-riple text-capitalize" type="button"
                    id="all-sections" data-bs-toggle="dropdown" aria-expanded="false">
                    map site
                </button>
                <div class="dropdown-menu dropdown-menu-start p-2 map-site-dropdown" aria-labelledby="all-sections">
                    <div class="row row-cols-3 g-2">
                        <div class="col">
                            <h6 class="pb-2 text-capitalize border-bottom placeholder-glow"><span
                                    class="placeholder col-2"></span></h6>
                            <div class="wrap-links">
                                <p class=" placeholder-glow mb-1 d-flex justify-content-between">
                                    <span class="placeholder placeholder-sm col-7"></span>
                                    <span class="placeholder col-1 placeholder-lg"></span>
                                </p>
                                <p class=" placeholder-glow mb-1 d-flex justify-content-between">
                                    <span class="placeholder placeholder-sm col-7"></span>
                                    <span class="placeholder col-1 placeholder-lg"></span>
                                </p>
                                <p class=" placeholder-glow mb-1 d-flex justify-content-between">
                                    <span class="placeholder placeholder-sm col-7"></span>
                                    <span class="placeholder col-1 placeholder-lg"></span>
                                </p>
                                <p class=" placeholder-glow mb-1 d-flex justify-content-between">
                                    <span class="placeholder placeholder-sm col-7"></span>
                                    <span class="placeholder col-1 placeholder-lg"></span>
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="pb-2 text-capitalize border-bottom placeholder-glow"><span
                                    class="placeholder col-2"></span></h6>
                            <div class="wrap-links">
                                <p class=" placeholder-glow mb-1 d-flex justify-content-between">
                                    <span class="placeholder placeholder-sm col-7"></span>
                                    <span class="placeholder col-1 placeholder-lg"></span>
                                </p>
                                <p class=" placeholder-glow mb-1 d-flex justify-content-between">
                                    <span class="placeholder placeholder-sm col-7"></span>
                                    <span class="placeholder col-1 placeholder-lg"></span>
                                </p>
                                <p class=" placeholder-glow mb-1 d-flex justify-content-between">
                                    <span class="placeholder placeholder-sm col-7"></span>
                                    <span class="placeholder col-1 placeholder-lg"></span>
                                </p>
                                <p class=" placeholder-glow mb-1 d-flex justify-content-between">
                                    <span class="placeholder placeholder-sm col-7"></span>
                                    <span class="placeholder col-1 placeholder-lg"></span>
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <h6 class="pb-2 text-capitalize border-bottom placeholder-glow"><span
                                    class="placeholder col-2"></span></h6>
                            <div class="wrap-links">
                                <p class=" placeholder-glow mb-1 d-flex justify-content-between">
                                    <span class="placeholder placeholder-sm col-7"></span>
                                    <span class="placeholder col-1 placeholder-lg"></span>
                                </p>
                                <p class=" placeholder-glow mb-1 d-flex justify-content-between">
                                    <span class="placeholder placeholder-sm col-7"></span>
                                    <span class="placeholder col-1 placeholder-lg"></span>
                                </p>
                                <p class=" placeholder-glow mb-1 d-flex justify-content-between">
                                    <span class="placeholder placeholder-sm col-7"></span>
                                    <span class="placeholder col-1 placeholder-lg"></span>
                                </p>
                                <p class=" placeholder-glow mb-1 d-flex justify-content-between">
                                    <span class="placeholder placeholder-sm col-7"></span>
                                    <span class="placeholder col-1 placeholder-lg"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Section -->
        <div class="d-flex">
            <div class="dropdown me-1 search-sm-box d-md-none d-inline-block">
                <button class="btn dropdown-toggle anm-riple dark-riple" type="button" id="search-small-screen"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-search    "></i>
                </button>
                <div class="dropdown-menu p-2" aria-labelledby="search-small-screen">
                    <div class="input-group input-group-md">
                        <button class="btn border bg-dark border-0 anm-riple" type="button"><i
                                class="fas fa-search text-light"></i></button>
                        <input type="text" class="form-control bg-light border-0" placeholder="Search.."
                            aria-label="Example text with button addon" aria-describedby="search">
                    </div>

                </div>
            </div>
            <div class="dropdown me-1 languages-box">
                <button class="btn dropdown-toggle anm-riple dark-riple text-capitalize" type="button" id="languages"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-flag-usa"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="languages">
                    <li><a class="dropdown-item" href="#"><img src="../assets/icons/usa.png" alt="usa"></a></li>
                    <li><a class="dropdown-item" href="#"><img src="../assets/icons/egp.png" alt="egp"></a></li>
                </ul>
            </div>
            <div class="dropdown me-1 full-screen-box d-none d-lg-inline-block">
                <button class="btn anm-riple dark-riple"><i class="fas fa-expand"></i></button>
            </div>
            <!-- Notification (not > is brief for notfication) -->
            <div class="dropdown notification-box">
                <button type="button" class="btn dropdown-toggle me-4 position-relative" id="notification"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bell bell-anm"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        99+
                    </span>
                </button>
                <div class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="notification">
                    <!-- Here is notifications -->
                    <div class="p-2 d-flex justify-content-between border-bottom n-header">
                        <span class="text-capitalize">notification</span>
                        <a href="#!" class="text-capitalize"><small>view all</small></a>
                    </div>
                    <div class="not-body p-2" data-simplebar>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="chat-item">
                                    <img src="/assets/img/avatar.png" class="me-2 rounded-circle" alt="chat-image">
                                    <div class="chat-body">
                                        <h6 class="text-capitalize">your order is placed</h6>
                                        <p class="text-muted text-break n-message">
                                            If several languages coalesce the grammar
                                        </p>
                                        <p class="time-clock">
                                            <i class="fas fa-clock me-1"></i>
                                            3 min ago
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#!" class="chat-item">
                                    <img src="/assets/img/avatar.png" class="me-2 rounded-circle" alt="chat-image">
                                    <div class="chat-body">
                                        <h6 class="text-capitalize">your order is placed</h6>
                                        <p class="text-muted text-break n-message">
                                            If several languages coalesce the grammar
                                        </p>
                                        <p class="time-clock">
                                            <i class="fas fa-clock me-1"></i>
                                            3 min ago
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#!" class="chat-item">
                                    <img src="/assets/img/avatar.png" class="me-2 rounded-circle" alt="chat-image">
                                    <div class="chat-body">
                                        <h6 class="text-capitalize">your order is placed</h6>
                                        <p class="text-muted text-break n-message">
                                            If several languages coalesce the grammar
                                        </p>
                                        <p class="time-clock">
                                            <i class="fas fa-clock me-1"></i>
                                            3 min ago
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#!" class="chat-item">
                                    <img src="/assets/img/avatar.png" class="me-2 rounded-circle" alt="chat-image">
                                    <div class="chat-body">
                                        <h6 class="text-capitalize">your order is placed</h6>
                                        <p class="text-muted text-break n-message">
                                            If several languages coalesce the grammar
                                        </p>
                                        <p class="time-clock">
                                            <i class="fas fa-clock me-1"></i>
                                            3 min ago
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="not-footer text-center p-2 pt-0">
                        <a href="#!" class="text-capitalize"><i class="fas fa-arrow-alt-circle-right me-1"></i>view
                            more...</a>
                    </div>
                </div>
            </div>
            <div class="dropdown profile-box">
                <button class="btn dropdown-toggle btn-sm text-capitalize anm-riple dark-riple" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/assets/img/avatar.png" class="rounded-circle me-0 me-xl-1" alt="prfile">
                    <span class="username-profile text-capitalize d-none d-xl-inline-block align-middle">amr
                        mohamed</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="languages">
                    <li><a class="dropdown-item text-dark" href="/contacts/user-profile">
                            <i class="fas fa-user me-1"></i>
                            <span class="text-capitalize">profile</span>
                        </a></li>
                    <li><a class="dropdown-item text-dark" href="#">
                            <i class="fas fa-wallet me-1"></i>
                            <span class="text-capitalize">my wallet</span>
                        </a></li>
                    <li><a class="dropdown-item text-dark" href="#">
                            <i class="fas fa-cog me-1"></i>
                            <span class="text-capitalize">settings</span>
                        </a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item text-dark" href="#">
                            <i class="fas fa-sign-out-alt me-1 text-danger"></i>
                            <span class="text-capitalize text-danger">sign out</span>
                        </a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>