<div id="vertical-menue">
    <!-- This wrapped from javascript -->
    <div class="scroll-bar" data-simplebar>
        <ul class="wrap-menue mb-0 list-unstyled">
            <li class="title-menue placeholder-glow">
                <span class="placeholder col-4"></span>
            </li>
            <li class="menue-item">
                <a href="#!" class="btn placeholder-glow">
                    <span class="placeholder col-2 py-3"></span>
                    <span class="placeholder placeholder-sm col-9 "></span>
                </a>
            </li>
            <li class="menue-item">
                <a href="#!" class="btn placeholder-glow">
                    <span class="placeholder col-2 py-3"></span>
                    <span class="placeholder placeholder-sm col-9 "></span>
                </a>
            </li>
            <li class="menue-item">
                <a href="#!" class="btn placeholder-glow">
                    <span class="placeholder col-2 py-3"></span>
                    <span class="placeholder placeholder-sm col-9 "></span>
                </a>
            </li>
            <li class="title-menue placeholder-glow">
                <span class="placeholder col-4"></span>
            </li>
            <li class="menue-item">
                <a href="#!" class="btn placeholder-glow">
                    <span class="placeholder col-2 py-3"></span>
                    <span class="placeholder placeholder-sm col-9 "></span>
                </a>
            </li>
            <li class="menue-item">
                <a href="#!" class="btn placeholder-glow">
                    <span class="placeholder col-2 py-3"></span>
                    <span class="placeholder placeholder-sm col-9 "></span>
                </a>
            </li>
            <li class="menue-item">
                <a href="#!" class="btn placeholder-glow">
                    <span class="placeholder col-2 py-3"></span>
                    <span class="placeholder placeholder-sm col-9 "></span>
                </a>
            </li>
            <li class="title-menue placeholder-glow">
                <span class="placeholder col-4"></span>
            </li>
            <li class="menue-item">
                <a href="#!" class="btn placeholder-glow">
                    <span class="placeholder col-2 py-3"></span>
                    <span class="placeholder placeholder-sm col-9 "></span>
                </a>
            </li>
            <li class="menue-item">
                <a href="#!" class="btn placeholder-glow">
                    <span class="placeholder col-2 py-3"></span>
                    <span class="placeholder placeholder-sm col-9 "></span>
                </a>
            </li>
            <li class="menue-item">
                <a href="#!" class="btn placeholder-glow">
                    <span class="placeholder col-2 py-3"></span>
                    <span class="placeholder placeholder-sm col-9 "></span>
                </a>
            </li>
            <li class="title-menue placeholder-glow">
                <span class="placeholder col-4"></span>
            </li>
            <li class="menue-item">
                <a href="#!" class="btn placeholder-glow">
                    <span class="placeholder col-2 py-3"></span>
                    <span class="placeholder placeholder-sm col-9 "></span>
                </a>
            </li>
            <li class="menue-item">
                <a href="#!" class="btn placeholder-glow">
                    <span class="placeholder col-2 py-3"></span>
                    <span class="placeholder placeholder-sm col-9 "></span>
                </a>
            </li>
            <li class="menue-item">
                <a href="#!" class="btn placeholder-glow">
                    <span class="placeholder col-2 py-3"></span>
                    <span class="placeholder placeholder-sm col-9 "></span>
                </a>
            </li>
            <li class="title-menue placeholder-glow">
                <span class="placeholder col-4"></span>
            </li>
            <li class="menue-item">
                <a href="#!" class="btn placeholder-glow">
                    <span class="placeholder col-2 py-3"></span>
                    <span class="placeholder placeholder-sm col-9 "></span>
                </a>
            </li>
            <li class="menue-item">
                <a href="#!" class="btn placeholder-glow">
                    <span class="placeholder col-2 py-3"></span>
                    <span class="placeholder placeholder-sm col-9 "></span>
                </a>
            </li>
            <li class="menue-item">
                <a href="#!" class="btn placeholder-glow">
                    <span class="placeholder col-2 py-3"></span>
                    <span class="placeholder placeholder-sm col-9 "></span>
                </a>
            </li>
        </ul>

    </div>
</div>