<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" href="/favicon.png">
    <link rel="icon" type="image/png" href="/favicon.png">
    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/libs/all.min.css">
    <link rel="stylesheet" href="/css/libs/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="my-5 pt-sm-5">
        <div class="container">
            <!-- Content Here -->
            <%- body %>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/js/libs/bootstrap.bundle.min.js"></script>
    <script src="/js/authenticationApp.js"></script>
</body>

</html>