<!-- Top Section -->
<div class="row">
    <div class="col-12 justify-content-md-between d-md-flex">
        <h5 class="title text-uppercase mb-0">blog details</h5>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-capitalize active" aria-current="page">
                    <a href="/blogs">blog</a>
                </li>
                <li class="breadcrumb-item text-capitalize" aria-current="page">
                    blog details
                </li>
            </ol>
        </nav>
    </div>
</div>


<!-- Middle Content -->
<div class="row mb-3">
    <div class="col-lg-12">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="pt-3">
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <div>
                                <!-- Header Of Post -->
                                <div class="text-center">
                                    <div class="mb-4">
                                        <a href="javascript: void(0);" class="badge bg-light font-sm text-dark">
                                            <i class="fas fa-tag font-xs align-middle text-muted me-1"></i> Project
                                        </a>
                                    </div>
                                    <h5>Beautiful Day with Friends</h5>
                                    <p class="text-muted mb-4 font-sm"><i class="fas fa-calendar me-1 font-xs"></i> 10
                                        Apr, 2020</p>
                                </div>
                                <hr>
                                <!-- Post Information -->
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div>
                                                <p class="text-muted mb-2">Categories</p>
                                                <h6>Project</h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="mt-4 mt-sm-0">
                                                <p class="text-muted mb-2">Date</p>
                                                <h6>10 Apr, 2020</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="mt-4 mt-sm-0">
                                                <p class="text-muted mb-2">Post by</p>
                                                <h6>Tarek Yasser</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!-- Post Cover -->
                                <div class="my-5">
                                    <img src="https://picsum.photos/800/500" alt="img"
                                        class="img-thumbnail mx-auto d-block">
                                </div>

                                <hr class="bg-dark">

                                <!-- Post Body and comments -->
                                <div class="mt-4">
                                    <div class="text-muted">
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                            adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                            dolore magnam enim ad minima veniam quis</p>

                                        <p class="mb-4">Ut enim ad minima veniam, quis nostrum exercitationem ullam
                                            corporis suscipit laboriosam, nisi ut aliquid ex ea reprehenderit qui in ea
                                            voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem
                                            eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto
                                            odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                                            atque corrupti quos dolores et quas molestias excepturi sint occaecati
                                            cupiditate non provident, similique sunt</p>

                                        <blockquote class="p-4 border  rounded mb-4">
                                            <div class="d-flex">
                                                <div class="me-3">
                                                    <i class="fas fa-quote-right text-muted"></i>
                                                </div>
                                                <div>
                                                    <p class="mb-0"> At vero eos et accusamus et iusto odio dignissimos
                                                        ducimus qui blanditiis praesentium deleniti atque corrupti quos
                                                        dolores et quas molestias excepturi sint quidem rerum facilis
                                                        est</p>
                                                </div>
                                            </div>

                                        </blockquote>

                                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                                            voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
                                            repellat. Sed ut perspiciatis unde omnis iste natus error sit</p>


                                        <div class="mt-4">
                                            <h6 class="mb-3">Title: </h6>

                                            <div>
                                                <div class="row">
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div>
                                                            <ul class="ps-4">
                                                                <li class="py-1">Donec sodales sagittis</li>
                                                                <li class="py-1">Sed consequat leo eget</li>
                                                                <li class="py-1">Aliquam lorem ante</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div>
                                                            <ul class="ps-4">
                                                                <li class="py-1">Aenean ligula eget</li>
                                                                <li class="py-1">Cum sociis natoque</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <hr>

                                    <!-- Comments -->

                                    <div class="mt-5">
                                        <h6><i class="fas fa-comment-dots text-muted align-middle me-1"></i> Comments :
                                        </h6>
                                        <!-- Comments Body List -->
                                        <div>
                                            <div class="d-flex py-3">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar-sm">
                                                        <div
                                                            class="h-100 w-100 d-flex align-items-center text-white justify-content-center  bg-primary rounded-circle bg-opacity-10">
                                                            <i class="fas fa-user-alt"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class=" mb-1">Amr Mohamed <small
                                                            class="text-muted font-xs float-end">1
                                                            hr Ago</small></h6>
                                                    <p class="text-muted">If several languages coalesce, the grammar of
                                                        the resulting language is more simple and regular than that of
                                                        the individual</p>
                                                    <div>
                                                        <a href="javascript: void(0);" class="text-success"><i
                                                                class="fas fa-reply font-xs"></i> Reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex py-3 border-top">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar-sm">
                                                        <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80"
                                                            alt="img" class="w-100 h-100 object-fit rounded-circle">
                                                    </div>
                                                </div>

                                                <div class="flex-grow-1">
                                                    <h6 class=" mb-1">Ahmed Ali <small
                                                            class="text-muted font-xs float-end">2
                                                            hrs Ago</small></h6>
                                                    <p class="text-muted">Neque porro quisquam est, qui dolorem ipsum
                                                        quia dolor sit amet</p>
                                                    <div>
                                                        <a href="javascript: void(0);" class="text-success"><i
                                                                class="fas fa-reply font-xs"></i> Reply</a>
                                                    </div>

                                                    <div class="d-flex pt-3">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar-sm">
                                                                <div
                                                                    class="h-100 w-100 d-flex align-items-center text-white justify-content-center  bg-primary rounded-circle bg-opacity-10">
                                                                    <i class="fas fa-user-alt"></i>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="flex-grow-1">
                                                            <h6 class=" mb-1">Ahmed Amr <small
                                                                    class="text-muted float-end font-xs">2 hrs
                                                                    Ago</small></h6>
                                                            <p class="text-muted">To take a trivial example, which of us
                                                                ever undertakes laborious physical exercise</p>
                                                            <div>
                                                                <a href="javascript: void(0);" class="text-success"><i
                                                                        class="fas fa-reply font-xs"></i> Reply</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex py-3 border-top">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar-sm">
                                                        <div
                                                            class="h-100 w-100 d-flex align-items-center text-white justify-content-center  bg-primary rounded-circle bg-opacity-10">
                                                            <i class="fas fa-user-alt"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flex-grow-1">
                                                    <h6 class=" mb-1">Ali Ibrahim <small
                                                            class="text-muted font-xs float-end">12
                                                            Aug</small></h6>
                                                    <p class="text-muted">Donec posuere vulputate arcu. phasellus
                                                        accumsan cursus velit</p>
                                                    <div>
                                                        <a href="javascript: void(0);" class="text-success"><i
                                                                class="fas fa-reply font-xs"></i> Reply</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="mt-4">
                                        <h6 class=" mb-3"><i
                                                class="fas fa-paper-plane text-muted align-middle me-1 font-sm"></i>
                                            Leave a
                                            Message</h6>

                                        <form>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="commentname-input" class="form-label">Name</label>
                                                        <input type="text" class="form-control" id="commentname-input"
                                                            placeholder="Enter name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="commentemail-input" class="form-label">Email</label>
                                                        <input type="email" class="form-control" id="commentemail-input"
                                                            placeholder="Enter email">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="commentmessage-input" class="form-label">Message</label>
                                                <textarea class="form-control" id="commentmessage-input"
                                                    placeholder="Your message..." rows="3"></textarea>
                                            </div>

                                            <div class="text-end">
                                                <button type="submit" class="btn btn-success w-sm">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
</div>