<!-- Top Section -->
<div class="row d-print-none">
    <div class="col-12 justify-content-md-between d-md-flex">
        <h5 class="title text-uppercase mb-0">Invoice Name</h5>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-capitalize active" aria-current="page">
                    <a href="/invoices">invoices</a>
                </li>
                <li class="breadcrumb-item text-capitalize" aria-current="page">
                    detail
                </li>
            </ol>
        </nav>
    </div>
</div>


<!-- Middle Section -->
<div class="row mb-3">
    <div class="col-lg-12">
        <div class="card shadow border-0">
            <div class="card-body">
                <!-- HEADER OF INVOICE -->
                <div class="invoice-title">
                    <h4 class="float-end font-md mb-0 mt-1">Order # 12345</h4>
                    <div class="mb-2">
                        <img src="/assets/img/logo.png" alt="logo" height="25">
                        <h5 class="d-inline-block align-middle mb-0 ms-1">AD</h5>
                    </div>
                </div>
                <!-- Content -->
                <hr class="bg-dark">
                <!-- Content: Address -->
                <div class="row">
                    <div class="col-sm-6">
                        <address>
                            <strong>Billed To:</strong><br>
                            Ali Amr<br>
                            1234 Main<br>
                            Apt. 4B<br>
                            Alex, ST 5687
                        </address>
                    </div>
                    <div class="col-sm-6 text-sm-end">
                        <address class="mt-2 mt-sm-0">
                            <strong>Shipped To:</strong><br>
                            Tarek Saad<br>
                            1234 Main<br>
                            Apt. 4B<br>
                            Alex, ST 5687
                        </address>
                    </div>
                </div>
                <!-- Content: Payment -->
                <div class="row">
                    <div class="col-sm-6 mt-2">
                        <address>
                            <strong>Payment Method:</strong><br>
                            Visa ending **** 4242<br>
                            tarek@email.com
                        </address>
                    </div>
                    <div class="col-sm-6 mt-2 text-sm-end">
                        <address>
                            <strong>Order Date:</strong><br>
                            October 16, 2019<br><br>
                        </address>
                    </div>
                </div>

                <!-- Order Summary -->
                <div class="py-2 mt-2">
                    <h3 class="font-md">Order summary</h3>
                </div>
                <!-- Table of invoice -->
                <div class="table-responsive">
                    <table class="table table-nowrap">
                        <thead class="border-bottom border-dark">
                            <tr>
                                <th style="width: 70px;">No.</th>
                                <th>Item</th>
                                <th class="text-end">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>AD - Admin Dashboard Template</td>
                                <td class="text-end">$499.00</td>
                            </tr>

                            <tr>
                                <td>02</td>
                                <td>AD - Landing Template</td>
                                <td class="text-end">$399.00</td>
                            </tr>

                            <tr>
                                <td>03</td>
                                <td>Dash - Admin Dashboard Template</td>
                                <td class="text-end">$499.00</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-end">Sub Total</td>
                                <td class="text-end">$1397.00</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="border-0 text-end">
                                    <strong>Shipping</strong></td>
                                <td class="border-0 text-end">$13.00</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="border-0 text-end">
                                    <strong>Total</strong></td>
                                <td class="border-0 text-end">
                                    <h5 class="m-0">$1410.00</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <!-- Setting BTN -->
                <div class="d-print-none mt-2">
                    <div class="float-end">
                        <a href="javascript:window.print()" class="btn btn-success anm-riple me-1"><i
                                class="fas fa-print"></i></a>
                        <a href="javascript: void(0);" class="btn btn-primary anm-riple">Send</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>