<!-- Top Section -->
<div class="row">
    <div class="col-12 justify-content-md-between d-md-flex">
        <h5 class="title text-uppercase mb-0">user profile</h5>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-capitalize active" aria-current="page">
                    <a href="/contacts/user-profile">contacts</a>
                </li>
                <li class="breadcrumb-item text-capitalize" aria-current="page">
                    user profile
                </li>
            </ol>
        </nav>
    </div>
</div>

<!-- Left Section -->
<div class="row mb-3 user-profile-section">
    <div class="col-xl-4">
        <!-- inner top -->
        <div class="card rounded shadow border-0 overflow-hidden mb-4">
            <div class="header">
                <div class="row g-0 overflow-hidden">
                    <div class="col-7">
                        <div class="p-3 text-primary">
                            <h6 class="header-text text-truncate text-capitalize mb-1">welcome
                                back!
                            </h6>
                            <p class="mb-0 text-truncate">
                                It will seem like simplified
                            </p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../assets/img/welcome.svg" class="img-fluid" alt="hello" draggable="false">
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 rounded-bottom rounded-1">
                <div class="row">
                    <div class="col-sm-4 align-self-end">
                        <div class="avatar-user mb-4 mt-n5">
                            <img src="../assets/img/avatar.png" class="rounded-circle img-thumbnail" alt="avatar">
                        </div>
                        <h6 class="text-truncate text-capitalize text-primary">amr mohamed</h6>
                        <p class="text-muted mb-0 text-truncate font-sm">Front-End Designer</p>
                    </div>
                    <div class="col-sm-8">
                        <div class="pt-4">
                            <div class="row">
                                <div class="col-6">
                                    <h6 class="mb-0 text-primary">23</h6>
                                    <small class="text-capitalize text-muted">projects</small>
                                </div>
                                <div class="col-6">
                                    <h6 class="mb-0 text-primary">$455</h6>
                                    <small class="text-capitalize text-muted">revenue</small>
                                </div>
                            </div>
                            <div class="mt-4">
                                <button class="btn btn-primary btn-sm anm-riple text-capitalize">view
                                    profile <i class="fas fa-arrow-right font-sm ms-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner down -->
        <div class="card rounded shadow border-0 overflow-hidden mb-custom">
            <div class="card-body">
                <h6 class="card-title mb-4">Personal Information</h6>

                <p class="text-muted mb-4">Hi I'm Amr Mohamed,has been the industry's standard dummy text To an
                    English person, it will seem like simplified English, as a skeptical Cambridge.</p>
                <div class="table-responsive">
                    <table class="table table-nowrap mb-0">
                        <tbody>
                            <tr>
                                <th scope="row" class="border-bottom border-light">Full Name :</th>
                                <td class="border-light border-bottom">Amr Mohamed</td>
                            </tr>
                            <tr>
                                <th scope="row" class="border-bottom border-light">Mobile :</th>
                                <td class="border-light border-bottom">(123) 123 1234</td>
                            </tr>
                            <tr>
                                <th scope="row" class="border-bottom border-light">E-mail :</th>
                                <td class="border-light border-bottom">amrad@gmail.com</td>
                            </tr>
                            <tr>
                                <th scope="row" class="border-bottom border-light">Location :</th>
                                <td class="border-light border-bottom">Rosetta, Egypt</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Inner bottom -->
        <div class="card shadow border-0 mb-custom mt-4">
            <div class="card-body">
                <h6 class="card-title mb-3">
                    Experiences
                </h6>

                <ul class="list-unstyled verti-timeline">
                    <li class="event-list active">
                        <div class="event-timeline-dot">
                            <i class="far fa-arrow-alt-circle-right "></i>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <i class="text-primary fas fa-server"></i>
                            </div>
                            <div class="flex-grow-1">
                                <div>
                                    <strong class="d-block"><a href="javascript: void(0);" class="text-dark">Back end
                                            Developer</a></strong>
                                    <span class="text-primary font-sm">2016 - 19</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="event-list">
                        <div class="event-timeline-dot">
                            <i class="far fa-arrow-alt-circle-right"></i>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <i class="text-primary fas fa-code"></i>
                            </div>
                            <div class="flex-grow-1">
                                <div>
                                    <strong class="d-block"><a href="javascript: void(0);" class="text-dark">Front end
                                            Developer</a></strong>
                                    <span class="text-primary font-sm">2013 - 16</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="event-list">
                        <div class="event-timeline-dot">
                            <i class="far fa-arrow-alt-circle-right"></i>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <i class="text-primary fas fa-edit"></i>
                            </div>
                            <div class="flex-grow-1">
                                <div>
                                    <strong class="d-block"><a href="javascript: void(0);" class="text-dark">UI /UX
                                            Designer</a></strong>
                                    <span class="text-primary font-sm">2011 - 13</span>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <!-- inner top -->
        <div class="row">
            <div class="col-md-4">
                <div class="card rounded shadow border-0 mb-4 parent-wrap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="text-muted font-sm">
                                    Completed Projects
                                </p>
                                <strong>
                                    <span class="h5">
                                        1,295
                                    </span>
                                </strong>
                            </div>
                            <div class="flex-shrink-0 align-self-center">
                                <div class="circle-avatar">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card rounded shadow border-0 mb-4 parent-wrap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="text-muted font-sm">
                                    Pending Projects
                                </p>
                                <strong>
                                    <span class="h5">
                                        $35,563
                                    </span>
                                </strong>
                            </div>
                            <div class="flex-shrink-0 align-self-center">
                                <div class="circle-avatar">
                                    <i class="fas fa-hourglass"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card rounded shadow border-0 mb-4 parent-wrap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="text-muted">
                                    Total Revenue
                                </p>
                                <strong>
                                    <span class="h5">
                                        1,295
                                    </span>
                                </strong>
                            </div>
                            <div class="flex-shrink-0 align-self-center">
                                <div class="circle-avatar">
                                    <i class="fas fa-box"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- inner down -->
        <div class="card rounded shadow border-0 chart-card mb-4">
            <div class="card-body">
                <!-- inner top -->

                <h6 class="card-title mb-3 text-uppercase">Revenue</h6>

                <!-- inner down -->
                <div id="barchart-profile">
                    <!-- this comes from javascript -->
                    <img src="https://thumbs.gfycat.com/InsistentTautGodwit-max-1mb.gif"
                        class="img-fluid mx-auto d-block" style="height: 350px;">
                </div>
            </div>
        </div>
        <!-- Inner bottom -->
        <div class="card border-0 shadow">
            <div class="card-body">
                <h6 class="card-title mb-3">My Projects</h6>
                <div class="table-responsive">
                    <table class="table table-nowrap table-hover mb-0">
                        <thead>
                            <tr class="border-bottom">
                                <th scope="col">#</th>
                                <th scope="col">Projects</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Budget</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Skote admin UI</td>
                                <td>2 Sep, 2019</td>
                                <td>20 Oct, 2019</td>
                                <td>$506</td>
                            </tr>

                            <tr>
                                <th scope="row">2</th>
                                <td>Skote admin Logo</td>
                                <td>1 Sep, 2019</td>
                                <td>2 Sep, 2019</td>
                                <td>$94</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Redesign - Landing page</td>
                                <td>21 Sep, 2019</td>
                                <td>29 Sep, 2019</td>
                                <td>$156</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>App Landing UI</td>
                                <td>29 Sep, 2019</td>
                                <td>04 Oct, 2019</td>
                                <td>$122</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Blog Template</td>
                                <td>05 Oct, 2019</td>
                                <td>16 Oct, 2019</td>
                                <td>$164</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Redesign - Multipurpose Landing</td>
                                <td>17 Oct, 2019</td>
                                <td>05 Nov, 2019</td>
                                <td>$192</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Logo Branding</td>
                                <td>04 Nov, 2019</td>
                                <td>05 Nov, 2019</td>
                                <td>$94</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>