@keyframes btn-riple {
    0% {
        opacity: 0.5;
        width: 0;
        height: 0;
    }

    100% {
        opacity: 0;
        width: 500px;
        height: 500px;
    }
}




/* Bell ANM */
.bell-anm {
    animation: bell 1.5s ease infinite;
}

@keyframes bell {
    0% {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    }

    40%,
    60%,
    80% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }

}



/* Opacity Animation */
.anm-fade {
    animation: fade 1s forwards alternate 1;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Anm X transform */
@keyframes movex {
    from {
        #{$l}: -8px;
    }

    to {
        #{$l}: -4px;
    }
}