<!-- Top Section -->
<div class="row">
    <div class="col-12 justify-content-md-between d-md-flex">
        <h5 class="title text-uppercase mb-0">dashboard</h5>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-capitalize active" aria-current="page"><a href="/">dashboard</a>
                </li>
                <li class="breadcrumb-item text-capitalize" aria-current="page">dashboard
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Left Section -->
<div class="row mb-4">
    <div class="col-xl-4">
        <!-- inner top -->
        <div class="card rounded shadow border-0 overflow-hidden mb-4">
            <div class="header">
                <div class="row g-0 overflow-hidden">
                    <div class="col-7">
                        <div class="p-3 text-primary">
                            <h6 class="header-text text-truncate text-capitalize mb-1">welcome
                                amr mohamed
                            </h6>
                            <p class="mb-0"><small><strong>AD</strong> Dashboard</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../assets/img/welcome.svg" class="img-fluid" alt="hello" draggable="false">
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 rounded-bottom rounded-1">
                <div class="row">
                    <div class="col-sm-4 align-self-end">
                        <div class="avatar-user mb-4 mt-n5">
                            <img src="../assets/img/avatar.png" class="rounded-circle img-thumbnail" alt="avatar">
                        </div>
                        <h6 class="text-truncate text-capitalize text-primary">amr mohamed</h6>
                        <p class="text-muted mb-0 text-truncate font-sm">Front-End Designer</p>
                    </div>
                    <div class="col-sm-8">
                        <div class="pt-4">
                            <div class="row">
                                <div class="col-6">
                                    <h6 class="mb-0 text-primary">23</h6>
                                    <small class="text-capitalize text-muted">projects</small>
                                </div>
                                <div class="col-6">
                                    <h6 class="mb-0 text-primary">$455</h6>
                                    <small class="text-capitalize text-muted">revenue</small>
                                </div>
                            </div>
                            <div class="mt-4">
                                <a href="/contacts/user-profile" class="btn btn-primary btn-sm text-capitalize">view
                                    profile <i class="fas fa-arrow-right font-sm ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner down -->
        <div class="card rounded shadow border-0 overflow-hidden mb-custom">
            <div class="card-body">
                <h6 class="mb-3">
                    Monthly Earning
                </h6>
                <div class="row">
                    <div class="col-sm-6">
                        <small class="text-muted mb-2 d-block">
                            This month
                        </small>
                        <strong class="mb-2 d-block h2">
                            $34,252
                        </strong>
                        <p class="text-wrap text-black-50">
                            <span class="text-success">
                                12% <i class="fas fa-arrow-up"></i>
                            </span>
                            from previous period
                        </p>
                        <a href="javascript: void(0);"
                            class="btn btn-sm font-sm btn-primary anm-riple text-capitalize mt-2"
                            rel="noopener noreferrer">
                            view more<i class="fas fa-arrow-right ms-1"></i>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <div class="circle-progress">
                            <!-- This comes from Javascript -->
                            <img src="https://thumbs.gfycat.com/InsistentTautGodwit-max-1mb.gif" class="img-fluid">
                        </div>
                    </div>
                </div>
                <small class="bottom-text text-muted text-capitalize mt-2 mb-0 d-block">
                    We craft digital, graphic and dimensional thinking.
                </small>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <!-- inner top -->
        <div class="row">
            <div class="col-md-4">
                <div class="card rounded shadow border-0 mb-4 parent-wrap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="text-muted">
                                    Orders
                                </p>
                                <strong>
                                    <span class="h5">
                                        1,295
                                    </span>
                                </strong>
                            </div>
                            <div class="flex-shrink-0 align-self-center">
                                <div class="circle-avatar">
                                    <i class="fas fa-th-list    "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card rounded shadow border-0 mb-4 parent-wrap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="text-muted">
                                    Revenue
                                </p>
                                <strong>
                                    <span class="h5">
                                        $35,563
                                    </span>
                                </strong>
                            </div>
                            <div class="flex-shrink-0 align-self-center">
                                <div class="circle-avatar">
                                    <i class="fas fa-boxes    "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card rounded shadow border-0 mb-4 parent-wrap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="text-muted">
                                    Avrage Price
                                </p>
                                <strong>
                                    <span class="h5">
                                        1,295
                                    </span>
                                </strong>
                            </div>
                            <div class="flex-shrink-0 align-self-center">
                                <div class="circle-avatar">
                                    <i class="fas fa-ticket-alt    "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- inner down -->
        <div class="card rounded shadow border-0 chart-card">
            <div class="card-body">
                <!-- inner top -->
                <div class="d-sm-flex flex-wrap mb-2">
                    <h6 class="text-uppercase">Email Sent</h6>
                    <div class="btn-group ms-sm-auto" role="group" aria-label="Basic example">
                        <button type="button" class="btn rounded-0 active">Year</button>
                        <button type="button" class="btn rounded-0">Month</button>
                        <button type="button" class="btn rounded-0">Week</button>
                    </div>
                </div>
                <!-- inner down -->
                <div id="barchart">
                    <!-- this comes from javascript -->
                    <img src="https://thumbs.gfycat.com/InsistentTautGodwit-max-1mb.gif"
                        class="img-fluid mx-auto d-block" style="height: 350px;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Second Section -->
<div class="row mb-4">
    <div class="col-xl-4">
        <div class="card rounded shadow border-0 social-content mb-custom">
            <div class="card-body">
                <h6 class="card-title mb-2">Social Source</h6>
                <div class="text-center mb-4">
                    <div class="avatar-icon mb-3">
                        <span class="wr-icon rounded-circle mx-auto">
                            <i class="fab fa-facebook"></i>
                        </span>
                    </div>
                    <h5>
                        <a href="javascript: void(0);" class="text-dark" rel="noopener noreferrer">
                            Facebook
                            <small class="text-muted">- 125 sales</small>
                        </a>
                    </h5>
                    <p class="text-muted font-sm">
                        Nulla mattis dictum leo sollicitudin posuere. Pellentesque habitant morbi
                        tristique senectus.
                    </p>
                    <a href="javascript: void(0);" class="text-primary ">
                        learn more <i class="fas fa-chevron-right font-xs"></i>
                    </a>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="wr-social text-center">
                            <div class="wr-icon mb-2">
                                <span class="rounded-circle facebook-av">
                                    <i class="fab fa-facebook text-light"></i>
                                </span>
                            </div>
                            <span class="social-text d-block">
                                <strong>Facebook</strong>
                            </span>
                            <small class="text-muted">
                                125 sales
                            </small>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="wr-social text-center">
                            <div class="wr-icon mb-2">
                                <span class="rounded-circle twitter-av">
                                    <i class="fab fa-twitter text-light"></i>
                                </span>
                            </div>
                            <span class="social-text d-block">
                                <strong>Twitter</strong>
                            </span>
                            <small class="text-muted">
                                223 sales
                            </small>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="wr-social text-center">
                            <div class="wr-icon mb-2">
                                <span class="rounded-circle instagram-av">
                                    <i class="fab fa-instagram text-light"></i>
                                </span>
                            </div>
                            <span class="social-text d-block">
                                <strong>Instagram</strong>
                            </span>
                            <small class="text-muted">
                                321 sales
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card rounded shadow border-0 activity-content mb-custom">
            <div class="card-body">
                <h6 class="card-title mb-4">Activity</h6>
                <ul class="list-unstyled wr-activates">
                    <li class="activate-item pb-5">
                        <div class="pre-arrow">
                            <i class="far fa-arrow-alt-circle-right font-sm"></i>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-2">
                                <small><strong>02</strong> Nov <i class="fas fa-chevron-right font-xs"></i></small>
                            </div>
                            <div class="align-self-center flex-grow-1">
                                <p class="mb-0 text-muted">
                                    dolor sit amet consectetur adipisicing elit. Incidunt,
                                    exercitationem lorem
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="activate-item pb-5">
                        <div class="pre-arrow">
                            <i class="far fa-arrow-alt-circle-right font-sm"></i>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-2">
                                <small><strong>03</strong> Nov <i class="fas fa-chevron-right font-xs"></i></small>
                            </div>
                            <div class="align-self-center flex-grow-1">
                                <p class="mb-0 text-muted">
                                    dolor sit amet consectetur adipisicing.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="activate-item pb-5">
                        <div class="pre-arrow">
                            <i class="far fa-arrow-alt-circle-right font-sm"></i>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-2">
                                <small><strong>04</strong> Nov <i class="fas fa-chevron-right font-xs"></i></small>
                            </div>
                            <div class="align-self-center flex-grow-1">
                                <p class="mb-0 text-muted">
                                    dolor sit amet consectetur adipisicing elit. Incidunt,
                                    exercitationem Lorem, ipsum dolor.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="activate-item pb-3 active">
                        <div class="pre-arrow">
                            <i class="far fa-arrow-alt-circle-right font-sm"></i>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-2">
                                <small><strong>05</strong> Nov <i class="fas fa-chevron-right font-xs"></i></small>
                            </div>
                            <div class="align-self-center flex-grow-1">
                                <p class="mb-0 text-muted">
                                    dolor sit amet consectetur adipisicing elit. Incidunt,
                                    exercitationem consectetur adipisicing elit. Incidunt,
                                    exercitationem...
                                    <a href="javascript: void(0);" class="text-primary ">
                                        learn more <i class="fas fa-chevron-right font-xs"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="text-center">
                    <a href="javascript: void(0);" class="btn btn-sm font-sm btn-primary anm-riple text-capitalize"
                        rel="noopener noreferrer">
                        view more<i class="fas fa-arrow-right ms-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card rounded shadow border-0 statistics-content">
            <div class="card-body">
                <h6 class="card-title mb-2">Top Cities Selling Product</h6>
                <div class="wr-map text-center">
                    <div class="mb-3">
                        <i class="fas fa-map display-4 text-primary"></i>
                    </div>
                    <strong class="d-block h4 mb-0">2,565</strong>
                    <span class="text-muted h6">Rosetta</span>
                </div>
                <div class="table-responsive">
                    <table class="align-middle table mt-2">
                        <tr>
                            <td class="w-25">
                                <p class="mb-0">
                                    Rosette
                                </p>
                            </td>
                            <td class="w-25">
                                <strong>1,056</strong>
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                                        aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-25">
                                <p class="mb-0">
                                    Alex
                                </p>
                            </td>
                            <td class="w-25">
                                <strong>1,800</strong>
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-dark" role="progressbar" style="width: 60%"
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-25">
                                <p class="mb-0">
                                    Cairo
                                </p>
                            </td>
                            <td class="w-25">
                                <strong>2,000</strong>
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 85%"
                                        aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Third Section -->
<div class="row mb-4">
    <div class="col-lg-12">
        <div class="card rounded shadow border-0">
            <div class="card-body rounded-bottom rounded-1">
                <h6 class="card-title mb-3">Latest Transaction</h6>
                <div class="table-responsive">
                    <table class="table mb-0 align-middle table-nowrap">
                        <!-- ********* -->
                        <thead class="table-light">
                            <tr>
                                <th class="font-sm" style="width: 20px;">
                                    <strong>#</strong>
                                </th>
                                <th class="font-sm">Order ID</th>
                                <th class="font-sm">Billing Name</th>
                                <th class="font-sm">Date</th>
                                <th class="font-sm">Total</th>
                                <th class="font-sm">Payment Status</th>
                                <th class="font-sm">Payment Method</th>
                                <th class="font-sm">View Details</th>
                            </tr>
                        </thead>
                        <!-- ********* -->
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check mb-0">
                                        <!-- The value will be the id of order (Order ID) -->
                                        <input class="form-check-input" checked type="checkbox" value="1">
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript: void(0);">#SKORDER1</a>
                                </td>
                                <td>Neal Matthews</td>
                                <td>07 Oct, 2019</td>
                                <td>$400</td>
                                <td>
                                    <span class="badge bg-success font-xs align-text-bottom">paid</span>
                                </td>
                                <td>
                                    <i class="fab fa-cc-mastercard me-1"></i>
                                    Mastercard
                                </td>
                                <td>
                                    <a href="javascript: void(0);"
                                        class="btn btn-primary rounded-pill anm-riple btn-sm font-xs">View
                                        More...</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check mb-0">
                                        <!-- The value will be the id of order (Order ID) -->
                                        <input class="form-check-input" type="checkbox" value="2">
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript: void(0);">#SKORDER2</a>
                                </td>
                                <td>Jamal Burnett</td>
                                <td>07 Oct, 2019</td>
                                <td>$320</td>
                                <td>
                                    <span class="badge bg-danger font-xs align-text-bottom">chargeback</span>
                                </td>
                                <td>
                                    <i class="fab fa-cc-visa me-1"></i>
                                    Visa
                                </td>
                                <td>
                                    <a href="javascript: void(0);"
                                        class="btn btn-primary rounded-pill anm-riple btn-sm font-xs">View
                                        More...</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check mb-0">
                                        <!-- The value will be the id of order (Order ID) -->
                                        <input class="form-check-input" type="checkbox" value="3">
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript: void(0);">#SKORDER3</a>
                                </td>
                                <td>Juan Mitchell</td>
                                <td>06 Oct, 2019</td>
                                <td>$526</td>
                                <td>
                                    <span class="badge bg-warning font-xs align-text-bottom">refund</span>
                                </td>
                                <td>
                                    <i class="fab fa-cc-paypal me-1"></i>
                                    Paypal
                                </td>
                                <td>
                                    <a href="javascript: void(0);"
                                        class="btn btn-primary rounded-pill anm-riple btn-sm font-xs">View
                                        More...</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check mb-0">
                                        <!-- The value will be the id of order (Order ID) -->
                                        <input class="form-check-input" checked type="checkbox" value="1">
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript: void(0);">#SKORDER1</a>
                                </td>
                                <td>Neal Matthews</td>
                                <td>07 Oct, 2019</td>
                                <td>$400</td>
                                <td>
                                    <span class="badge bg-success font-xs align-text-bottom">paid</span>
                                </td>
                                <td>
                                    <i class="fab fa-cc-mastercard me-1"></i>
                                    Mastercard
                                </td>
                                <td>
                                    <a href="javascript: void(0);"
                                        class="btn btn-primary rounded-pill anm-riple btn-sm font-xs">View
                                        More...</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check mb-0">
                                        <!-- The value will be the id of order (Order ID) -->
                                        <input class="form-check-input" type="checkbox" value="2">
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript: void(0);">#SKORDER2</a>
                                </td>
                                <td>Jamal Burnett</td>
                                <td>07 Oct, 2019</td>
                                <td>$320</td>
                                <td>
                                    <span class="badge bg-danger font-xs align-text-bottom">chargeback</span>
                                </td>
                                <td>
                                    <i class="fab fa-cc-visa me-1"></i>
                                    Visa
                                </td>
                                <td>
                                    <a href="javascript: void(0);"
                                        class="btn btn-primary rounded-pill anm-riple btn-sm font-xs">View
                                        More...</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check mb-0">
                                        <!-- The value will be the id of order (Order ID) -->
                                        <input class="form-check-input" type="checkbox" value="3">
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript: void(0);">#SKORDER3</a>
                                </td>
                                <td>Juan Mitchell</td>
                                <td>06 Oct, 2019</td>
                                <td>$526</td>
                                <td>
                                    <span class="badge bg-warning font-xs align-text-bottom">refund</span>
                                </td>
                                <td>
                                    <i class="fab fa-cc-paypal me-1"></i>
                                    Paypal
                                </td>
                                <td>
                                    <a href="javascript: void(0);"
                                        class="btn btn-primary rounded-pill anm-riple btn-sm font-xs">View
                                        More...</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>