<!-- Top Section -->
<div class="row">
    <div class="col-12 justify-content-md-between d-md-flex">
        <h5 class="title text-uppercase mb-0">email templates</h5>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-capitalize active" aria-current="page">
                    <a href="/email/inboxes">email</a>
                </li>
                <li class="breadcrumb-item text-capitalize" aria-current="page">
                    email templates
                </li>
            </ol>
        </nav>
    </div>
</div>


<!-- Middle Content -->
<div class="row">
    <div class="col-12 text-center">
        <!-- Basic Email -->
        <div>
            <h6 class="mb-3">Basic Email</h6>
            <table class="bg-white shadow rounded mx-auto mb-3" style="max-width: 550px;">
                <tbody>
                    <tr>
                        <td style="padding: 20px;text-align: left;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="padding-bottom: 10px;">
                                            Please confirm your email address by clicking the link below.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;">

                                            We may need to send you critical information about our service and it is
                                            important that we have an accurate email address.

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;">

                                            <button class="btn btn-success ">Confirm Email Address</button>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;">
                                            <b>AD Web</b>
                                            <p class="mb-0">Support Team</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            © 2021 <b>AD</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Alert Email -->
        <div>
            <h6 class="mb-3">Alert Email</h6>
            <table class="bg-white shadow rounded mx-auto mb-3" style="max-width: 550px;">
                <tbody>
                    <tr>
                        <td style="text-align: left">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="bg-primary rounded-top"
                                            style="padding:10px;margin-bottom: 10px;text-align: center;color: white;">
                                            Warning: You're approaching your limit. Please upgrade.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 20px;">
                                            You have <span class="badge bg-danger p-1 ">1 free report</span> remaining.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 20px;">
                                            Add your credit card now to upgrade your account to a premium plan to ensure
                                            you don't miss out on any reports.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 20px;">
                                            <button class="btn btn-success">Upgrade My Account</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 20px;">
                                            Thanks for choosing <b>AD</b> Admin.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 20px;">
                                            <b>AD Web</b>
                                            <p class="mb-0">Support Team</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" style="padding-bottom: 20px;">
                                            © 2021 <b>AD</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Billing Email -->
        <div>
            <h6 class="mb-3">Billing Email</h6>
            <table class="bg-white mx-auto mb-3" style="max-width: 550px;">
                <tbody>
                    <tr>
                        <td class="border border-dark" style="padding: 20px;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="text-dark" style="font-family: 'Lato';padding: 20px 0;">Thanks
                                                for using
                                                <b>AD</b>.</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table class="text-start w-100">
                                                <tr>
                                                    <td>
                                                        <b>Company Name</b><br>
                                                        Invoice #6521 <br>
                                                        August 01 2017
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 10px 0;">
                                                        <table class="w-100">
                                                            <tr class="border-top border-bottom">
                                                                <td style="padding: 5px 0;">BS-200 (1 Pc)</td>
                                                                <td class="text-end">$10.99</td>
                                                            </tr>
                                                            <tr class="border-top border-bottom">
                                                                <td style="padding: 5px 0;">BS-200 (1 Pc)</td>
                                                                <td class="text-end">$10.99</td>
                                                            </tr>
                                                            <tr class="border-top border-bottom">
                                                                <td style="padding: 5px 0;">BS-200 (1 Pc)</td>
                                                                <td class="text-end">$10.99</td>
                                                            </tr>
                                                            <tr
                                                                class="border-top border-bottom border-end-0 border-start-0 border-2 border-dark">
                                                                <td style="padding: 5px 0;text-align: right;">
                                                                    <b>Total</b></td>
                                                                <td style="width: 60px;" class="text-end">$31.99</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><b>AD</b> Inc. 6581 Alex Rd, Rosseta, AR, 72823</p>
                                            © 2021 <b>AD</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>