<!-- Top Section -->
<div class="row">
    <div class="col-12 justify-content-md-between d-md-flex">
        <h5 class="title text-uppercase mb-0">task list</h5>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-capitalize active" aria-current="page">
                    <a href="/tasks">tasks</a>
                </li>
                <li class="breadcrumb-item text-capitalize" aria-current="page">
                    task list
                </li>
            </ol>
        </nav>
    </div>
</div>


<!-- Middle Content -->
<div class="row lists-section">
    <!-- Leftside -->
    <div class="col-lg-8">
        <!-- Upcomping -->
        <div class="card shadow border-0 mb-4">
            <div class="card-body">

                <strong class="card-title d-block mb-4">Upcoming</strong>
                <div class="table-responsive">
                    <table class="table table-nowrap align-middle mb-0">
                        <tbody>
                            <tr>
                                <td style="width: 40px;">
                                    <div class="form-check">
                                        <input class="form-check-input" style="margin-top: 7px;" type="checkbox"
                                            id="upcomingtaskCheck01">
                                        <label class="form-check-label" for="upcomingtaskCheck01"></label>
                                    </div>
                                </td>
                                <td>
                                    <h6 class="text-truncate  m-0"><a href="javascript: void(0);"
                                            class="text-dark">Create a Skote Dashboard UI</a></h6>
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-5.jpg"
                                                    alt="avatar" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-5.jpg"
                                                    alt="avatar" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <span class="badge rounded-pill bg-secondary font-xs p-1">Waiting</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" style="margin-top: 7px;" type="checkbox"
                                            id="upcomingtaskCheck02" checked="">
                                        <label class="form-check-label" for="upcomingtaskCheck02"></label>
                                    </div>
                                </td>
                                <td>
                                    <h6 class="text-truncate  m-0"><a href="javascript: void(0);"
                                            class="text-dark">Create a New Landing UI</a></h6>
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-1.jpg"
                                                    alt="" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-2.jpg"
                                                    alt="" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <div class="avatar-sm">
                                                    <span
                                                        class="h-100 w-100 d-flex align-items-center text-white justify-content-center  bg-primary rounded-circle">
                                                        A
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-6.jpg"
                                                    alt="" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <span class="badge rounded-pill bg-primary font-xs p-1">Approved</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" style="margin-top: 7px;" type="checkbox"
                                            id="upcomingtaskCheck03">
                                        <label class="form-check-label" for="upcomingtaskCheck03"></label>
                                    </div>
                                </td>
                                <td>
                                    <h6 class="text-truncate  m-0"><a href="javascript: void(0);"
                                            class="text-dark">Create a New Site</a></h6>
                                </td>
                                <td>
                                    <div class="avatar-group">

                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-2.jpg"
                                                    alt="" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <div class="avatar-sm">
                                                    <span
                                                        class="h-100 w-100 d-flex align-items-center text-white justify-content-center  bg-primary rounded-circle">
                                                        A
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-6.jpg"
                                                    alt="" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <span class="badge rounded-pill bg-secondary font-xs p-1">waiting</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Inprogress -->
        <div class="card shadow border-0 mb-4">
            <div class="card-body">

                <strong class="card-title d-block mb-4">In Progress</strong>
                <div class="table-responsive">
                    <table class="table table-nowrap align-middle mb-0">
                        <tbody>
                            <tr>
                                <td style="width: 40px;">
                                    <div class="form-check">
                                        <input class="form-check-input" style="margin-top: 7px;" type="checkbox"
                                            id="upcomingtaskCheck01" checked>
                                        <label class="form-check-label" for="upcomingtaskCheck01"></label>
                                    </div>
                                </td>
                                <td>
                                    <h6 class="text-truncate  m-0"><a href="javascript: void(0);"
                                            class="text-dark">Create a Skote Dashboard UI</a></h6>
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-5.jpg"
                                                    alt="avatar" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-5.jpg"
                                                    alt="avatar" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <span class="badge rounded-pill bg-success font-xs p-1">Complete</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" style="margin-top: 7px;" type="checkbox"
                                            id="upcomingtaskCheck02">
                                        <label class="form-check-label" for="upcomingtaskCheck02"></label>
                                    </div>
                                </td>
                                <td>
                                    <h6 class="text-truncate  m-0"><a href="javascript: void(0);"
                                            class="text-dark">Create a New Landing UI</a></h6>
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-1.jpg"
                                                    alt="" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-2.jpg"
                                                    alt="" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <div class="avatar-sm">
                                                    <span
                                                        class="h-100 w-100 d-flex align-items-center text-white justify-content-center  bg-primary rounded-circle">
                                                        A
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-6.jpg"
                                                    alt="" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <span class="badge rounded-pill bg-warning font-xs p-1">Pending</span>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Completed -->
        <div class="card shadow border-0 mb-3">
            <div class="card-body">
                <strong class="card-title d-block mb-4">Completed</strong>
                <div class="table-responsive">
                    <table class="table table-nowrap align-middle mb-0">
                        <tbody>
                            <tr>
                                <td style="width: 40px;">
                                    <div class="form-check">
                                        <input class="form-check-input" style="margin-top: 7px;" type="checkbox"
                                            id="upcomingtaskCheck01">
                                        <label class="form-check-label" for="upcomingtaskCheck01"></label>
                                    </div>
                                </td>
                                <td>
                                    <h6 class="text-truncate  m-0"><a href="javascript: void(0);"
                                            class="text-dark">Create a Skote Dashboard UI</a></h6>
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-5.jpg"
                                                    alt="avatar" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-5.jpg"
                                                    alt="avatar" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <span class="badge rounded-pill bg-success font-xs p-1">Completed</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" style="margin-top: 7px;" type="checkbox"
                                            id="upcomingtaskCheck02">
                                        <label class="form-check-label" for="upcomingtaskCheck02"></label>
                                    </div>
                                </td>
                                <td>
                                    <h6 class="text-truncate  m-0"><a href="javascript: void(0);"
                                            class="text-dark">Create a New Landing UI</a></h6>
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-1.jpg"
                                                    alt="" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-2.jpg"
                                                    alt="" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <div class="avatar-sm">
                                                    <span
                                                        class="h-100 w-100 d-flex align-items-center text-white justify-content-center  bg-danger rounded-circle">
                                                        R
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-6.jpg"
                                                    alt="" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <span class="badge rounded-pill bg-success font-xs p-1">Completed</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 40px;">
                                    <div class="form-check">
                                        <input class="form-check-input" style="margin-top: 7px;" type="checkbox"
                                            id="upcomingtaskCheck01">
                                        <label class="form-check-label" for="upcomingtaskCheck01"></label>
                                    </div>
                                </td>
                                <td>
                                    <h6 class="text-truncate  m-0"><a href="javascript: void(0);"
                                            class="text-dark">Create a Skote Dashboard UI</a></h6>
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-5.jpg"
                                                    alt="avatar" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://themesbrand.com/skote-django/layouts/assets/images/users/avatar-5.jpg"
                                                    alt="avatar" class="rounded-circle avatar-sm">
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <span class="badge rounded-pill bg-success font-xs p-1">Completed</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Rightside -->
    <div class="col-lg-4">
        <!-- Statistics -->
        <div class="card shadow border-0 mb-4">
            <div class="card-body">
                <h6 class="card-title mb-3">Tasks</h6>
                <!-- Chart From js is comming -->
                <div id="appexchart-tasks" style="min-height: 240px;">
                    <!-- this comes from javascript -->
                    <img src="https://thumbs.gfycat.com/InsistentTautGodwit-max-1mb.gif"
                        class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>

        <!-- Recenet Tasks -->
        <div class="card shadow border-0 mb-3">
            <div class="card-body">
                <h6 class="card-title mb-3">Recent Tasks</h6>

                <!-- Tasks Table -->
                <div class="table-responsive">
                    <table class="table table-nowrap align-middle mb-0">
                        <tbody>
                            <% for( let index = 0; index < 3; index++ ) { %>
                            <tr>
                                <td>
                                    <strong class="text-truncate m-0"><a href="javascript: void(0);"
                                            class="text-dark">Brand logo design</a></strong>
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWFufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                                                    alt="" class="rounded-circle avatar-sm object-fit">
                                            </a>
                                        </div>
                                        <div class="avatar-group-item">
                                            <a href="javascript: void(0);" class="d-inline-block">
                                                <img src="https://images.unsplash.com/photo-1581382575275-97901c2635b7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80"
                                                    alt="" class="rounded-circle avatar-sm object-fit">
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>